<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <img style="width: 120px" src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }}"/>
        </a>
        <ul>
          <li><a href="https://www.meetup.com/mo-bel">Meetup</a></li>
          <li><a href="https://twitter.com/mobel_io">Twitter</a></li>
          
          <!--<li><a href="{{ '/about' | prepend: site.url }}">About</a></li>-->
          <!--<li><a href="{{ site.baseurl }}/">Posts</a></li>-->
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>
    </footer>
  </body>
</html>
